/**
 * This file contains common rules for html elements against user agent stylesheet
 */
body {
	margin: 0;
/*	font-family: "Microsoft YaHei", "SimHei", "Sans-Serif";*/
	overflow-y: scroll;
}

ul,menu,dir {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}