<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>清华大学2012学年特等奖学金获得者介绍</title>
<link href="../style/main.css" rel="stylesheet" type="text/css"> 
<script src="../style/nav.js"></script> 
</head>

<body>

<stl:include file="/include/studio_title.html"></stl:include>


<div class="mainbox">
  <div class="connectbox">
    <div class="connectinfor">
      <p><b>共青团清华大学委员会成才信息中心<br>共青团清华大学委员会成才信息中心</b></p>
      <p> 电话 <br>传真<br>
        地址<br>
        邮编<br>
        电邮</p>

    </div>

    <div style="clear:both "></div>
  </div>

</div>


<stl:include file="/include/studio_bottom.html"></stl:include>

</body>
</html>
