<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.0.xsd语义约束 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.1.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                            http://cxf.apache.org/jaxws
                            http://cxf.apache.org/schemas/jaxws.xsd">
    <!-- 定义数据源Bean，使用C3P0数据源实现 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	<!-- 指定连接数据库的驱动 -->
	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
	<!-- 指定连接数据库的URL -->
	<property name="jdbcUrl" value="jdbc:mysql://localhost/sthu"/>
	<!-- 指定连接数据库的用户名 -->
	<property name="user" value="root"/>
	<!-- 指定连接数据库的密码 -->
	<property name="password" value="root"/>
	<!-- 指定连接数据库连接池的最大连接数 -->
	<property name="maxPoolSize" value="40"/>
	<!-- 指定连接数据库连接池的最小连接数 -->
	<property name="minPoolSize" value="1"/>
	<!-- 指定连接数据库连接池的初始化连接数 -->
	<property name="initialPoolSize" value="1"/>
	<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
	<property name="maxIdleTime" value="20"/>
    </bean>
    <!-- 定义Hibernate的SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<!-- 依赖注入数据源，注入正是上面定义的dataSource -->
	<property name="dataSource" ref="dataSource"/>
	<!-- 使用注解进行数据库和实体类的mapping -->
	<property name="packagesToScan">
	    <value>cn.edu.tsinghua.sthu</value>
	</property>
	<property name="hibernateProperties">
	    <!-- 配置Hibernate属性 -->
	    <value>
		hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
		hibernate.hbm2ddl.auto=create
		hibernate.show_sql=true
		hibernate.format_sql=true;
	    </value>
	</property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>

