html {
    height:100%
}
body {
    margin:0px 0px 0px 0px;
    min-width:1240px;
    background-color:#eee;
    width:100%;
    font-family: SimHei;
}
li {
    list-style-type:none;
}
img{
    border: none;
}
.main-style {
    margin-top:0px;
}
.main-content-style {
    margin: 0 auto;
    width: 1000px;
}
.title-part-style {
    position:relative;
    min-height:550px;
}
.title-background-style {
    background-color:#28e;
    height:230px;
    padding:25px 40px 20px 0px;
}
.slide-style {
    position:absolute;
    top:40px;
    height:515px;
    width:700px;
}
.slide-img {
    height:515px;
    width:750px;
}
.xsh-logo-part {
    float:right;
}

.logo-img{
    width:170px;
    height:166px;
}

.follow-style {
    margin-top:20px;
    font-size:large;
    text-align:left;
    width: 200px;
    float: right;
    margin-right: 150px;
    color:#555;
}
.xsh-intro-style {
    height:230px;
}
.intro-right-part {
    float:right;
    width:250px;
    padding:20px 0px 3px 0px;
}
.btn-border {
    margin:15px 0px 5px 25px;
    float:left;
}
.blue-border {
    color:#fff;
    background-color:#bde;

    font-weight:800;

    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border-radius: 3px;

    cursor:pointer;
}

.content-style {
    min-height:500px;
    margin-top:0px;
    margin-bottom:30px;
}
.activity-style {
    background-color:#fff;
    height:500px;
    padding:20px 10px 10px 10px;
    color:#888;
}
.activity-li {
}

.activity-cata-div {
    float: left;
    width: 100px;
    text-align: center;
    margin: 10px 20px 0px 0px;
}
.activity-content-div {
    float: left; 
    width: 550px;
}
.hr-li {
    height: 30px; 
    padding: 5px 20px 5px 0px;
}
.function-style {
    height:40px;
    background-color:#fff;
    padding:20px 20px 20px 20px;
}
.org-logo {
    width:40px;
    height:40px;
}


#slide
{
    width: 487px;
    height: 332px;
    position: relative;
}

#imagebox
{
    width: 471px;
    height: 310px;
    border-color: white;
    border-width: 5px 4px 5px 5px;
    border-style: solid;
    position: absolute;
}

#imagebox img
{
    width: 471px;
    height: 310px;
    position: absolute;
    display: none;
}

#tipbox
{
    position: absolute;
    width: 419px;
    height: 67px;
    background-image: url("/css/index/tip_bg.png");
    bottom: 0px;
    right: 1px;
    z-index: 999;
}

#tiptextarea
{
    display: table;
    position: absolute;
    width: 302px;
    height: 100%;
    margin-left: 21px;
}

#tiptext
{
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
}

#tiptext a:link, #tiptext a:visited
{
    font-size: 13.34px;
    font-family: 黑体;
    color: #ffffff;
    text-decoration: none;
}



#tipbtn img{
    width: 9px;
    height: 9px;
    margin-right: 5px;
    float: right;
    opacity: 0.5;
}

#tipbtn
{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#introduction_part{
    margin-top: 110px;
    margin-left: 60px;
    margin-right: 50px;
    color:#555;
}
