/* 
    Document   : apply
    Created on : 2013-2-20, 18:17:36
    Author     : linangran
    Description:
        Purpose of the stylesheet follows.
*/

#position
{
    font-size: 13.34px;
    margin-left: -45px;
}

#formdiv
{
    width: 600px;
    margin: 5px auto 0 200px;
}

form
{
    margin: 0 auto;
}

form .tag{
    display:inline-block ;
    width: 150px;
    height: 22px;
    text-align: left;
    margin-left: 5px;
}

form .value_select
{
    display: inline-block;
}

form select{
    width: 206px;
    margin-top: 5px;
    height: 20px;
}

form input[type="text"]
{
    width: 200px;
    padding: 2px;
}

form input[type="submit"]
{
    display: inline-block;
    margin-left: 200px;
}

#container
{
    padding-bottom: 40px;
}

#submitbtn{
    display: block;
    width: 180px;
    height: 26px;
    background-color: #ff7900;
    text-align: center;
    margin-left: 158px;
    margin-top: 15px;
}

#submitbtn:link, #submitbtn:visited
{
    text-decoration: none;
    color: white;
    padding-top: 10.5px;
    font-size: 14.67px;
    letter-spacing: 4px;
}