/* 
    Document   : style
    Created on : 2013-2-20, 18:05:41
    Author     : linangran
    Description:
        Purpose of the stylesheet follows.
*/

.processtype
{
    width: 780px;
    height: 22px;
    margin: 10px auto 30px;
}

#processtype0, #processtype-1
{
    background-image: url('/css/classroom/step1.png');
}

#processtype1
{
    background-image: url('/css/classroom/step2.png');
}

#processtype2
{
    background-image: url('/css/classroom/step3.png');
}

#processtype3
{
    background-image: url('/css/classroom/step4.png');
}