/* 
    Document   : general.css
    Created on : 2013-1-27, 18:58:40
    Author     : linangran
    Description:
        Purpose of the stylesheet follows.
*/
html{
    -webkit-text-size-adjust:none;

}

body
{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("/css/index/gray.png");
    background-repeat: repeat-x;
    background-color: #cccccc;
    position: relative;
}

img
{
    border: none;
}

#all
{
    width: 1044px;
    margin: 0 auto;
}

#bg_container
{
    width: 100%;
    height: 4px;
    min-width: 1044px;
    background-image: url("/css/index/bg.png");
    background-repeat: repeat-x;
}

#top
{
    width:100%;
    height: 91px;
    position: relative;
}

#logo
{
    width: 304px;
    height: 53px;
    position: absolute;
    left: 17px;
    top:17px;
}
.toptext{
    position: absolute;
    top:2px;
    width: 100px;
    height: 29px;
    background-color: #deedf5;
    text-align: center;
    margin-right: 30px;
}
#joinus{
    right: 322px;
}
#submitarticle{
    right: 212px;
}

#logininfo
{
    position: absolute;
    top:2px;
    right: 22px;
    width: 100px;
    height: 29px;
    background-color: #deedf5;
    text-align: center;
}
#appdownload{
    position: absolute;
    top:2px;
    right: 102px;
    width: 100px;
    height: 29px;
    background-color: #deedf5;
    text-align: center;
    margin-right: 30px;
}
#logininfo a:link, #logininfo a:visited, #appdownload a:link, #appdownload a:visited, .toptext a:link, .toptext a:visited
{
    color: #237e89;
    text-decoration: none;
}

#logininfo span, #appdownload span, .toptext span{
    font-size: 12px;
    color: #237e89;
    display: inline-block;
    margin-top: 6px;
    font-family: 微软雅黑;
}

#toplink
{
    color: #a3a3a3;
    font-size: 12px;
    position: absolute;
    top: 62px;
    right: 23px;
}

#toplink a:link, #toplink a:visited
{
    color: #a3a3a3;
    text-decoration: none;
}

#toplink a:hover
{
    color: #a3a3a3;
    text-decoration: underline;
}

#toplink .splitspan
{
    padding: 0px 18px;
}

#navibar
{
    height: 44px;
    width: 1038px;
    margin: 0 auto;
    background-image: url("/css/general/navi_bg.png");
}

#navibar .navibtn
{
    float: left;
    width: 128px;
    margin-top: 2px;
    margin-right: 2px;
    height: 35px;
}

#navibar .navirightbtn
{
    float: left;
    width: 128px;
    margin-top: 2px;
    height: 35px;
}

#footercontainer
{
    margin-top: 23px;
    background-color: #adc2cc;
    width: 100%;
    min-width: 1044px;
    position: relative;
    height: 190px;
}

#footer
{
    width: 1044px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

#footer .title
{
    background-image: url("/css/index/title4.png");
    top: -7px;
    left: 10px;
    position: absolute;
    width: 93px;
    height: 27px;
}

#footer .linkblock
{
    width: 310px;
    margin-right: 47px;
    margin-left: 10px;
    height: 95px;
    float: left;
}

#footer .rightlinkblock
{
    margin-right: 0px;
    width: 300px;
}

#footer .linkblock .left
{
    float: left;
    font-size: 13.34px;
    font-family: 微软雅黑;
    text-align: center;
    height: 13px;
    margin: 37px 0 auto 0;
    width: 63px;
}

#footer a:link, #footer a:visited
{
    color: #1a4c54;
    text-decoration: none;
}

#footer .linkblock .right
{
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 21px;
    width:116px;
}

#footer .linkblock .right2
{
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 21px;
    width:116px;
}

#footer .linkblock ul
{
    list-style-type:none;
    padding-left: 20px;
    margin: 16px 0;
}

#copyright
{
    width: 1024px;
    height: 171px;
    position: relative;
    margin: 0 auto;
}

#copyrighttext
{
    position: absolute;
    width: 1024px;
    bottom: 0px;
    text-align: center;
    font-size: 13px;
    color: #484848;
}

#container
{
    width: 1024px;
    margin: 0 auto;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    padding-bottom: 30px;
    box-shadow: 6px 5px 6px #bcbabe;
}

#main
{
    margin-left: 52px;
    margin-right: 52px;
}

#position
{
    font-size: 13.34px;
}

.onlyprint
{
    display: none;
}

@media print{

    div
    {
	border: none;
    }

    .noprint{
	display: none;
    }

    .toprint
    {
	display: block;
    }

    .onlyprint
    {
	display: block;
    }

    #container
    {
	box-shadow: none;
    }
}

#floatDiv
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
}

#floatDiv .bg
{
    width: 100%;
    height: 100%;
    background-image: url("/css/general/alert_bg.png");
    background-repeat: repeat;
    position: absolute;
    position: absolute;
    left: 0px;
    top: 0px;
}

#hint
{
    width: 1061px;
    height: 328px;
    background-image: url("/css/general/transparent.png");
    background-repeat: repeat;
    opacity: 1;
    z-index: 999;
    position: relative;
}

#laterbtn
{
    position: absolute;
    width: 156px;
    height: 45px;
    bottom: 48px;
    right: 60px;
    z-index: 9999;
    cursor: pointer;
    background-image: url("/css/general/transparent.png");
    background-repeat: repeat;
}

