/* 
    Document   : general.css
    Created on : 2013-1-27, 18:58:40
    Author     : linangran
    Description:
        Purpose of the stylesheet follows.
*/
body
{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("/css/index/gray.png");
    background-repeat: repeat-x;
    background-color: #cccccc;
}

img
{
    border: none;
}

#all
{
    width: 1038px;
    margin: 0 auto;
}

#bg_container
{
    width: 100%;
    height: 4px;
    background-image: url("/css/index/bg.png");
    background-repeat: repeat-x;
}

#top
{
    width:100%;
    height: 91px;
    position: relative;
}

#logo
{
    width: 304px;
    height: 53px;
    position: absolute;
    left: 17px;
    top:17px;
}

#logininfo
{
    position: absolute;
    top:2px;
    right: 22px;
    width: 100px;
    height: 29px;
    background-color: #deedf5;
    text-align: center;
}

#logininfo a:link, #logininfo a:visited
{
    color: #237e89;
    text-decoration: none;
}

#logininfo span{
    font-size: 12px;
    color: #237e89;
    display: inline-block;
    margin-top: 6px;
    font-family: 微软雅黑;
}

#toplink
{
    color: #a3a3a3;
    font-size: 12px;
    position: absolute;
    top: 62px;
    right: 23px;
}

#toplink a:link, #toplink a:visited
{
    color: #a3a3a3;
    text-decoration: none;
}

#toplink .splitspan
{
    padding: 0px 18px;
}

#navibar
{
    height: 44px;
    width: 1038px;
    margin: 0 auto;
    background-image: url("/css/general/navi_bg.png");
}

#navibar .navibtn
{
    float: left;
    width: 128px;
    margin-top: 2px;
    margin-right: 2px;
    height: 35px;
}

#navibar .navirightbtn
{
    float: left;
    width: 128px;
    margin-top: 2px;
    height: 35px;
}

#footercontainer
{
    margin-top: 23px;
    background-color: #adc2cc;
    width: 100%;
    min-width: 1044px;
    position: relative;
    height: 190px;
}

#footer
{
    width: 1044px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

#footer .title
{
    background-image: url("/css/index/title4.png");
    top: -7px;
    left: 10px;
    position: absolute;
    width: 93px;
    height: 27px;
}

#footer .linkblock
{
    width: 310px;
    margin-right: 57px;
    height: 95px;
    float: left;
}

#footer .rightlinkblock
{
    margin-right: 0px;
}

#footer .linkblock .left
{
    float: left;
    font-size: 13.34px;
    font-family: 微软雅黑;
    text-align: center;
    height: 13px;
    margin: 37px 0 auto 0;
    width: 140px;
}

#footer a:link, #footer a:visited
{
    color: #1b7684;
    text-decoration: none;
}

#footer .linkblock .right
{
    float: left;
    font-size: 10.67px;
    height: 100%;
    line-height: 21px;
}

#footer .linkblock .right ul
{
    list-style-type:none;
    padding-left: 20px;
    margin: 16px 0;
}

#copyright
{
    width: 1024px;
    height: 171px;
    position: relative;
    margin: 0 auto;
}

#copyrighttext
{
    position: absolute;
    width: 1024px;
    bottom: 0px;
    text-align: center;
    font-size: 13px;
    color: #484848;
}

#container
{
    width: 1024px;
    margin: 0 auto;
}

#main
{
    margin-left: 52px;
}

#position
{
    font-size: 13.34px;
}