<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>清华大学2012学年特等奖学金获得者介绍</title>
<link href="../../style/main.css" rel="stylesheet" type="text/css"> 
<script src="../../style/nav.js"></script> 
</head>

<body>

<stl:include file="/include/studio_title.html"></stl:include>


<div class="mainbox">
  <div class="articalbox">
    <div class="leftnavbox">
  
      <stl:channels name="介绍">    
      <li><stl:a><stl:channel type="title"></stl:channel></stl:a></li>
      </stl:channels> 

    </div>
    <div class="rightmainbox">
      <h3><stl:content type="Title"></stl:content></h3>
      <stl:content type="Content"></stl:content>
    <div style="clear:both "></div>
    </div>
    <div style="clear:both "></div>
  </div>
</div>


<stl:include file="/include/studio_bottom.html"></stl:include>

</body>
</html>
