/* 
    Document   : error
    Created on : 2013-3-2, 10:24:38
    Author     : luzhen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

*{
margin: 0;
}

img.errorImage{
position:relative;
left: 406px;
border: none;
}


h1 {
color: #b10303;
position:relative;
left: 202px;
font-size: 18.67px;
font-family: Microsoft YaHei;
}

p {
position:relative;
left: 332px;
top:10px;
font-size: 14.67px;
height: 145px;
}

a:link  {
color: #000000;
text-decoration: none;
}

a:visited{
color: #000000;
text-decoration: none;
}