#new_edit_div
{
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
}

#new_edit_div .title input
{
    width: 450px;
}

#new_edit_div .title
{
    padding-top: 20px;
    margin-left: 20px;
}

#new_edit_div .author input
{
    width: 180px;
}

#new_edit_div .author
{
    margin-top: 20px;
    margin-left: 20px;
}

#new_edit_div .column select
{
    width: 180px;
}

#new_edit_div .column
{
    margin-top: 20px;
    margin-left: 20px;
}

#new_edit_div .new_abstract
{
    margin-top: 20px;
    margin-left: 20px;
    height: auto;
}

#new_edit_div .content
{
    margin-top: 20px;
    margin-left: 20px;
}

#new_edit_div .onTop
{
    margin-top: 20px;
    margin-left: 20px;
}

#new_edit_div .redirect input
{
    width: 700px;
}

#new_edit_div .redirect
{
    margin-top: 20px;
    margin-left: 20px;
}

#new_edit_div .button
{
    margin-top: 20px;
    padding-bottom: 20px;
}

#abstract_left
{
    height: auto;
    width: fit-content;
    float: left;
}

#abstract_right
{
    height: auto;
    width: fit-content;
    float: left;
}

.clear
{
    clear: both;
}

.word_number
{
    margin-left: 10px;
    color: red;
    font-size: 13.34px;
    font-family: "Microsoft YaHei","微软雅黑";
}

#abstract_word_number
{
    float: left;
}



